body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Ubuntu', sans-serif;
}
.margin{
    margin-left:9%;
    margin-right:9%;
}
/*Nav-bar below*/
nav{
    padding-top:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.right-corner{
    display:flex;

}

nav a{
    text-decoration: none;
    color:black;
    padding-right: 40%;
    font-size: 20px;
}
/*Main below*/
.intro{
    padding-top: 50px;
    max-width: 40%;
}
.welcome{
    display:flex;
    justify-content: space-between;
}
.intro span{
    white-space:nowrap;

}
.text-1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
/*3D Model*/

/*Will add later, perhaps*/

/*Tech bar*/
.tech-bar{
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    
    background-repeat: repeat-y;
    background-size:cover;
    background-position-y: center;
    
    
}
.tech-elements{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.tech-element{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-right:30px;
    padding-left:30px;
    
}
.tech-text{
    padding-top:5px;
    color:black;
    text-align: center;
}
.tech-heading{
    color:black;
    text-align: center;
}
.line{
    width:70%;
    border-top: 2.5px solid black;
    margin:10px;
    margin-left:15%;
}

/*Pictures*/

.pictures{
    display:flex;
    justify-content: space-between;
}
.pictures-right{
    padding-left:20px;
    display:flex;
}
.pictures-left{
    padding-right:20px;
    display:flex;
}

.picture img{
    margin-top:70px;
    margin-bottom:70px;
    width: 200px;
    height: 200px;
    background-color: white;
    transform: skewY(15deg);
    object-fit: cover;

}

.picture2 img{
    margin-top:70px;
    margin-bottom:70px;
    width: 200px;
    height: 200px;
    background-color: white;
    transform: skewY(-15deg);

}

/*Music-bar*/

.music-bar{
    background-color: rgb(48, 45, 45);;
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.music-elements{
    display:flex;
    color:rgb(245, 240, 240);
    justify-content: center;
    
}


/*Projects*/

.projects-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.projects-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.projects{
    padding-top:20px;
    display:grid;
    grid-template-columns: auto auto;
    grid-column-start: auto;
    gap:40px;
    width:100%;
}
.project{
    display:flex;
    flex-direction: column;
    background-color:rgb(245, 240, 240);
    width:100%; /*550px*/
    height:100%;
    border-radius: 25px;
    box-sizing: border-box;
    padding:20px;
    justify-content: space-between;
}
.project-heading{
    font-size:30px;
    font-weight: bold;
}
.project-row1{
    display:flex;
    padding-bottom:25px;
    align-items: top;
    justify-content: space-between;
    color: rgb(37, 36, 36);
}
.project-row2{
    font-size: 20px;
    padding-bottom:35px;
    color: grey;
    width:60%;
}
.project-row3{
    color:black;
    font-weight: 400;
    font-size:15px;
    padding-bottom:5px;

}

/*Buttons*/
.intro-buttons{
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding-top:30px;
    flex-wrap: wrap;
}
.button1{
    display:inline-block;
    margin:5px;
    border-radius:20px;
    box-sizing: inherit;
    text-decoration:none;
    font-weight:300;
    font-size:19px;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.button1:hover{
    background-color:black
}
/*Footer below*/
footer{
    margin:0;
    width:100%;
}
.footer-wrapper{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    background:white;
    background-image: url(https://i.pinimg.com/originals/1b/74/ed/1b74ed53670b66f50f4a0a2d4c59f7f5.gif);
    background-repeat: repeat-y;
    background-position-y: center;
    background-size:cover;
}
.footer-elements {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-element{
    display:flex;
    align-items: center;
    padding:20px;
    filter:brightness(0.7);
    text-decoration: none;
    transition:.2s
}
.footer-elements a:hover{
    filter:brightness(1)
}
.footer-svg{
    text-decoration:none;
    font: size 0.775rem;
   
}
.footer-text{
    color:white;
    padding-left:10px

}
/* TESTING WIDTH */



/*Mobile*/
@media screen and (max-width: 660px){
    
    /*Will do it later*/
    .pictures{
        display:none;
    }

    .projects{
        display:block;
        padding-top: 5px !important;
    }
    .projects-heading{
        padding-top:40px; 
    }
    .project{
        margin-top:20px;
    }

    .intro{
        max-width: 100%;
    }
    
    .tech-element{
        padding-right:8px;
        padding-left:8px;
    }
    nav a{
        padding-right:0%;
        padding-left:10%;
    }
    .right-corner{
        justify-content: flex-end;
    }
    .right-corner a{
        text-align: center;

    }
    .left-corner{
        font-size: 10px!important;
    }
    .intro span{
        white-space:pre-wrap;
    
    }
    .projects-wrapper{
        align-items:flex-start;
    }
}















#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

