* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #1C1C1C;
    padding: 0px 20px;
}

.header-container {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
    background-color: #1c1c1c;
}

.content {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.text {
    max-width: 50%;
}

.text h1 {
    font-size: 64px;
    color: #B280FF;
}

.text h2 {
    font-size: 48px;
    color: #FFF;
}

.text p {
    font-size: 20px;
    margin: 10px 0;
}

.availability {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.pulse {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: green;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.social a {
    margin-right: 10px;
}

.social img {
    width: 24px;
    height: 24px;
}

.image img {
    width: 500px; /* Adjust the size according to your preference */
    border-radius: 10px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.projects-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.projects-text {
    font-size: 1rem;
    color: gray;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 240, 240);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
    color: #252424;
}

.project-heading {
    font-size: 30px;
    font-weight: bold;
}

.project-row1 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-bottom: 25px;
}

.project-row2 {
    font-size: 20px;
    padding-bottom: 35px;
    color: grey;
}

.project-row3 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 5px;
}
.tech-bar{
    margin-top: 40px;

    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    
    background-repeat: repeat-y;
    background-size:cover;
    background-position-y: center;
    
    
}
.tech-elements{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 15px;
}
.tech-element{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-right:30px;
    padding-left:30px;
    
}
.tech-text{
    padding-top:5px;
    color:white;
    text-align: center;
}
.tech-heading{
    color:white;
    text-align: center;
}
.line{
    width:70%;
    border-top: 2.5px solid white;
    margin:10px;
    margin-left:15%;
}
